@model IEnumerable<Attraction_Tycoon_ASPNET.Models.Zone>

@{
    ViewData["Title"] = "Index";
}

<h1>Zones</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
            </tr>
        }
    </tbody>

</table>
<img src="~/image/map.jpg" />
<asp:image id="Image2" runat="server" imageurl="C:\Users\Sandrine\workspace\git\Attraction-Tycoon-ASPNET\Attraction_Tycoon_ASPNET\ressource\" alternatetext="Error!" />
